@model ModalBootstrap.Models.eChart

<div>
    <h4>Result</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientPhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientPhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientBirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientBirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAddress)
        </dd>

    </dl>
</div>

