@model ModalBootstrap.Models.eChart

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>eChart</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PatientFirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientFirstName)
                @Html.ValidationMessageFor(model => model.PatientFirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientLastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientLastName)
                @Html.ValidationMessageFor(model => model.PatientLastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientEmail)
                @Html.ValidationMessageFor(model => model.PatientEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientPhoneNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientPhoneNo)
                @Html.ValidationMessageFor(model => model.PatientPhoneNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sex, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sex)
                @Html.ValidationMessageFor(model => model.Sex)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientBirthDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientBirthDate)
                @Html.ValidationMessageFor(model => model.PatientBirthDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppointmentDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppointmentDate)
                @Html.ValidationMessageFor(model => model.AppointmentDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientAddress)
                @Html.ValidationMessageFor(model => model.PatientAddress)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
