@model ModalBootstrap.Models.TreatmentItems

<div id="_createTreatmentitempartialdiv">
@using (Ajax.BeginForm("CreateIndexTreatmentsItems", "TreatmentItems", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "_createTreatmentitempartialdiv" }))
   {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.TreatmentNo, "TreatmentNo", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownList("TreatmentNo", String.Empty)
                    @Html.ValidationMessageFor(model => model.TreatmentNo)
                </div>
                @Html.LabelFor(model => model.LOC, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.LOC)
                    @Html.ValidationMessageFor(model => model.LOC)
                </div>              
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SURF, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.SURF)
                    @Html.ValidationMessageFor(model => model.SURF)
                </div>
                @Html.LabelFor(model => model.PROC, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.PROC)
                    @Html.ValidationMessageFor(model => model.PROC)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProcedureDescription, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ProcedureDescription)
                    @Html.ValidationMessageFor(model => model.ProcedureDescription)
                </div>
                @Html.LabelFor(model => model.DOS, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.DOS)
                    @Html.ValidationMessageFor(model => model.DOS)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DDS, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.DDS)
                    @Html.ValidationMessageFor(model => model.DDS)
                </div>
                @Html.LabelFor(model => model.COMP, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.COMP)
                    @Html.ValidationMessageFor(model => model.COMP)
                </div>
            </div>

        

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @* Html.ActionLink("Back to List", "Index")*@
        @Ajax.ActionLink("List", "IndexAjax", "TreatmentItems", new AjaxOptions { UpdateTargetId = "_createTreatmentitempartialdiv" })
    </div>
</div>